# The electron postinstall script downloads the Electron binary via its own
# HTTP client (@electron/get / got) which does NOT read the npm proxy settings
# above. It requires real environment variables to be set at install time.
# Run npm install like this:
#
#   HTTPS_PROXY=http://webproxy.ext.ti.com:80 \
#   HTTP_PROXY=http://webproxy.ext.ti.com:80 \
#   ELECTRON_GET_USE_PROXY=true \
#   NO_PROXY=.ti.com,127.0.0.1,localhost \
#   npm install
#
# Or source your ~/.bashrc first (which already exports these vars) and then run:
#   ELECTRON_GET_USE_PROXY=true npm install
